<!DOCTYPE html>
<html lang="en">

<head>
  {% include './header.html' %}
  {% block optionalCSS %}{% endblock %}
  {% include './js.html' %}
  {% block optionalJS %}{% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% include './sidebar.html' %}
      <main role="main" class="col-md-10 col-lg-10 ml-sm-auto px-5">
        <div class="">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </div>
  {% include './footer.html' %}
</body>

<script>
  var csrftoken = '{{ csrf_token }}';
</script>

</html>
