<nav class="col-md-2 d-none d-md-block">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Grupos</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="../calendarioFundamentos">
          <span data-feather="file-text"></span>
          Fundamentos de programación
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../calendarioLenguajes">
          <span data-feather="file-text"></span>
          Lenguajes de programación
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../calendarioIA">
          <span data-feather="file-text"></span>
          Inteligenica Artificial
        </a>
      </li>
    </ul>
  </div>
</nav>
