{% extends 'root/base.html' %}
{% load static %}

{% block content %}

{% if empty == 1 %}
    No hay sesiones
{% else %}
    <div class="text-center display-4">
        <strong>Solución de problemas con programación</strong>
    </div>
    <div class="text-sm-center text-md-right my-5">
        <button type="button" class="btn btn-success">Agregar Sesión</button>
    </div>
    <div class="row my-3 mx-0">
        {% for s in sessions %}
            {% if s.isClass %}
            <div class="card col-6">
            {% else %}
            <div class="card col-6 bg-warning">
            {% endif %}
                <div class="card-body">
                    <div class="row">
                        <div class="w-75">
                            <h5 class="card-title">{{ s.name }}</h5>
                        </div>
                        <div class="w-25">
                            <button type="button" class="btn btn-primary">+</button>
                            <button type="button" class="btn btn-danger">-</button>
                            <button type="button" class="btn btn-dark">c</button>
                        </div>
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id natus dolorem ut sequi, eum sed ipsa, quas cum quae itaque!</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
   
{% endblock content %}

{% block optionalJS %}
    
{% endblock %}